body {
    width: 100%;
    background-image: url("http://hamthechimp.files.wordpress.com/2009/11/epileptic.jpg");
}

nav ul {

}

nav li {
    display: block;
}

main {
width: 100%;
}

article {
width: 100%;
}

aside {
    width: 100%;
    display: block;
    background-color:
}
